# Core functionality - changes here should be rare!
/src/app.py                   @russbiggs
/src/backend/database.py      @russbiggs
/src/backend/routers/auth.py  @russbiggs

# The frontend will need refactored soon to be more object oriented.
/src/static/   @russbiggs
